<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Beyond Snack Portal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar is-white has-shadow">
  <div class="navbar-brand">
    <div class="navbar-item">
      <strong>Beyond Snack Portal</strong>
    </div>
  </div>

  {% if session.get("user") %}
  <div class="navbar-end">
    <div class="navbar-item">
      <a href="{{ url_for('logout') }}" class="button is-light">
        Logout
      </a>
    </div>
  </div>
  {% endif %}
</nav>

<section class="section">
  <div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for cat, msg in messages %}
          <div class="notification is-{{ 'danger' if cat=='danger' else 'success' }}">
            {{ msg }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </div>
</section>

</body>
</html>
