{% extends "base.html" %}
{% block content %}
<h1 class="title">Batch Label Entry</h1>

<form method="post" enctype="multipart/form-data">

  <div class="field"><label class="label">Product Name</label><input class="input" name="product_name"></div>
  <div class="field"><label class="label">SKU</label><input class="input" name="sku"></div>
  <div class="field"><label class="label">MRP</label><input class="input" name="mrp"></div>
  <div class="field"><label class="label">Batch No</label><input class="input" name="batch_no"></div>
  <div class="field"><label class="label">MFG Date</label><input class="input" name="mfg_date"></div>
  <div class="field"><label class="label">EXP Date</label><input class="input" name="exp_date"></div>
  <div class="field"><label class="label">Licence No</label><input class="input" name="licence_no"></div>

  <div class="field"><label class="label">Photo</label><input type="file" name="photo" accept="image/*"></div>
  <div class="field"><label class="label">Remarks</label><textarea class="textarea" name="remarks"></textarea></div>

  <button class="button is-primary">Submit</button>

</form>
{% endblock %}
