{% extends "base.html" %}
{% block content %}

<h1 class="title has-text-centered">Main Menu</h1>

<a href="{{ url_for('leak_page') }}" class="button is-link is-fullwidth mb-3">
  Leak Test
</a>

<a href="{{ url_for('oxygen_page') }}" class="button is-link is-fullwidth mb-3">
  Oxygen Test
</a>

<a href="{{ url_for('breakage_page') }}" class="button is-link is-fullwidth mb-3">
  Breakage Analysis
</a>

<a href="{{ url_for('log_page') }}" class="button is-link is-fullwidth mb-3">
  Production Log
</a>

{% if session.get("role") == "manager" %}
<a href="{{ url_for('dashboard') }}" class="button is-danger is-fullwidth mb-3">
  Dashboard
</a>

<a href="{{ url_for('reports') }}" class="button is-warning is-fullwidth mb-3">
  Reports
</a>
{% endif %}

{% endblock %}
