{% extends "base.html" %}
{% block content %}

<h1 class="title has-text-centered">Reports & Downloads</h1>

<a href="{{ url_for('export_leak') }}" class="button is-link is-fullwidth mb-3">
  Download Leak Test
</a>

<a href="{{ url_for('export_oxygen') }}" class="button is-link is-fullwidth mb-3">
  Download Oxygen Test
</a>

<a href="{{ url_for('export_breakage') }}" class="button is-link is-fullwidth mb-3">
  Download Breakage Report
</a>

<a href="{{ url_for('export_log') }}" class="button is-link is-fullwidth mb-3">
  Download Production Log
</a>

{% endblock %}
