{% extends "base.html" %}
{% block content %}

<h1 class="title">Viewing: {{ table }}</h1>

{% if records and records|length > 0 %}

<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      {% for k in records[0].keys() %}
        <th>{{ k }}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for r in records %}
      <tr>
        {% for v in r.values() %}
          <td>
            {% if v and (v|string).startswith('static/uploads') %}
              <a href="/{{ v }}" target="_blank">photo</a>
            {% else %}
              {{ v }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<div class="notification is-warning">
  No records found.
</div>

{% endif %}

{% endblock %}
